@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

navbar {
  padding:.8rem;
}

.navbar-brand img{
  height: 80%;
  filter: drop-shadow(0px 10px 10px lightblue);
}

.navbar-nav li{
  padding-right: 20px;
  filter: drop-shadow(0px 10px 10px lightblue);
}

.nav-link{
  font-size: 1.1em !important;
  filter: drop-shadow(0px 10px 10px lightblue);
}

.carousel-inner img{
width: 100%;
height: 100%;
}

.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.lead{
    text-align: center;
}

.jumbotron{
  text-align: center;
  padding: 1rem;
  border-radius: 0;
}

.padding{
  padding-bottom: 2rem;
}


.container-fluid{
    text-align: center;
}


.container-fluid1 h2{
  margin-bottom: 15px;
  font-size: 64px;
}

.container-fluid h6{
  font-size: 18px;
  margin-top: 4rem;
}

.container-fluid1 img{
  margin-top: 110px;
}

.fb-szabadulo {
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 35px;
}

.fb-betlehem {
  margin-left: 150px;
  margin-right: 20px;
  margin-bottom: 35px;
}

.fb-cse{
  margin-left: 150px;
  margin-right: 20px;
  margin-bottom: 35px;
}

.fb-bb{
  margin-left: 40px;
  margin-right: 20px;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr{
   border-top: 2px solid #b4b4b4;
   width: 95%;
   margin-top: .3rem;
   margin-bottom: 1rem;
}

.social a{
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook{
  color: #3b5998;
}

.fa-instagram{
  color: #e61979;
}

.fa-youtube{
   color: #bb0000;
}

.fa-facebook:hover,.fa-instagram:hover,.fa-youtube:hover{
color: #d5d5d5;
}

.kepek{
  margin: 10px 50px;
}

.kepek img{
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.kepek img:hover{
  filter: grayscale(0%);
  transform: scale(1.1);

}

footer{
  background-color: #2a97a3;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer a{
  color: #5d5d5d;
}
hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}


/*---Media Queries --*/
@media (max-width: 992px) {
  .social a{
    font-size: 4em;
    padding: 2rem;
  }
  }
@media (max-width: 768px) {
.carousel-caption{
  top: 45%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  font-size: 350%;
}

.carousel-caption h3{
  font-size: 140%;
  font-weight: 400;
  padding-bottom: .2rem;
}

}
.social a{
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
    .carousel-caption{
  top: 40%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  font-size: 250%;
}

.carousel-caption h3{
  font-size: 110%;
}
.carousel-indicators{
  display: none;
}
.display4{
  font-size: 160%;
}
.social a{
    font-size: 2em;
    padding: .7rem;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.cim{

  font-size:5vw;
}

.kozep{
  margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;

  align:left;
}




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
